@font-face {
  src: url("../fonts/Montserrat-Regular.ttf") format('ttf'),
  url("../fonts/Montserrat-Regular.eot") format('eot'),
  url("../fonts/Montserrat-Regular.woff") format('woff'),
  url("../fonts/Montserrat-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Montserrat-Medium.ttf") format('ttf'),
  url("../fonts/Montserrat-Medium.eot") format('eot'),
  url("../fonts/Montserrat-Medium.woff") format('woff'),
  url("../fonts/Montserrat-Medium.woff2") format('woff2');
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Montserrat-SemiBold.ttf") format('ttf'),
  url("../fonts/Montserrat-SemiBold.eot") format('eot'),
  url("../fonts/Montserrat-SemiBold.woff") format('woff'),
  url("../fonts/Montserrat-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format('ttf'),
  url("../fonts/Montserrat-SemiBoldItalic.eot") format('eot'),
  url("../fonts/Montserrat-SemiBoldItalic.woff") format('woff'),
  url("../fonts/Montserrat-SemiBoldItalic.woff2") format('woff2');
  font-weight: 600;
  font-style: italic;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Montserrat-Light.ttf") format('ttf'),
  url("../fonts/Montserrat-Light.eot") format('eot'),
  url("../fonts/Montserrat-Light.woff") format('woff'),
  url("../fonts/Montserrat-Light.woff2") format('woff2');
  font-weight: 300;
  font-style: normal;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Inter-LightItalic.ttf") format('ttf'),
  url("../fonts/Inter-LightItalic.eot") format('eot'),
  url("../fonts/Inter-LightItalic.woff") format('woff'),
  url("../fonts/Inter-LightItalic.woff2") format('woff2');
  font-weight: 300;
  font-style: italic;
  font-family: Montserrat;
}
@font-face {
  src: url("../fonts/Inter-Regular.ttf") format('ttf'),
  url("../fonts/Inter-Regular.eot") format('eot'),
  url("../fonts/Inter-Regular.woff") format('woff'),
  url("../fonts/Inter-Regular.woff2") format('woff2');
  font-weight: 400;
  font-style: normal;
  font-family: Poppins;
}
@font-face {
  src: url("../fonts/Inter-SemiBold.ttf") format('ttf'),
  url("../fonts/Inter-SemiBold.eot") format('eot'),
  url("../fonts/Inter-SemiBold.woff") format('woff'),
  url("../fonts/Inter-SemiBold.woff2") format('woff2');
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat;
}