@import 'variables';
@import 'mediaQueries';
@import 'fonts';

@import '../../../lib/slider-tech/styles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  overflow-x: hidden;
  background-color: $fonColor;
  font-family: Montserrat, sans-serif;
}
.container {
  max-width: $containerWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
button {
  cursor: pointer;
}

//Popups
.popup-close {
  cursor: pointer;
}

.activePopup {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 3;

  animation: popup 0.5s ease-in-out forwards alternate;
  animation-iteration-count: 1;

}

@keyframes popup {
  0% {
    display: block;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 100%;
  }
}

.popup-fon {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
