@import 'variables';
@import 'mediaQueries';
@import 'fonts';

@import '../../../lib/slider-tech/styles.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}
body {
  overflow-x: hidden;
  background-color: $fonColor;
  font-family: Montserrat, sans-serif;
}
.container {
  max-width: $containerWidth;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
