@media (max-width: 768px) {
  .preview {
    background: url("../img/fonImg.webp") no-repeat bottom;
    background-size: cover;

  }
  .preview__textBlock {
    justify-content: flex-end;
    position: static;
    top: 0;
    right: 0;
    align-items: center;
    padding: 0 20px;
  }

  .preview__title {
    font-size: 30px;
    line-height: 29px;
  }
  .preview__motto {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 0 20px #000;
    width: 100vw;
  }

  .preview__number {
    display: none;
  }

  .preview__titleBlock {
    margin-bottom: 30px;
  }

  .preview__logo {
    left: 14px;
    width: 259px;
    height: 83px;
  }

  .preview__textBlock {
    height: 84vh;
  }

  .preview__motto:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 100%;
    background: rgba(23, 89, 214, 0.036);
    box-shadow: inset 15.5667px -15.5667px 15.5667px rgba(17, 68, 163, 0.036), inset -15.5667px 15.5667px 15.5667px rgba(255, 255, 255, 0.036);
    backdrop-filter: blur(5.75967px);
    z-index: -1;
    padding: 9px 0;
  }

}

@media (max-width: 768px) {

  .priceList__table-cell:nth-child(3),
  .priceList__table-cell:nth-child(4) {
    display: none;
  }
  .priceList__table {
    width: 800px;
  }
  .priceList__table-wrapper {
    overflow-x: hidden;
  }
  .priceList__table {
    width: 100%;
  }
  .priceList__table-cell:nth-child(2) {
    font-size: 18px;
  }

  .priceList__table-cell:nth-child(2) {
    width: 145px;

  }


}

@media(max-width: 375px) {
  .priceList__table-cell {
    font-size: 15px;
  }
  .priceList__table-cell__timeLesson {
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .QandA__content {
    flex-wrap: wrap;
    flex-direction: column-reverse;

  }
  .QandA__popularQuestions {
    margin-right: 0;
  }
  .QandA__title {
    margin-bottom: 32px;
    text-align: center;
  }
  .QandA__popularQuestions__text {
    margin: 32px 0;
  }
  .QandA__popularQuestions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 320px) {
  .tabs__item__name {
    font-size: 14px;
  }
}

@media (max-width: 660px) {
  .cardInstructor:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 860px) {
  .instructors__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (max-width: $containerWidth) {
  .elementSlider.reviews__elemSlider {
    min-width: calc(100vw - 100px);
  }
  .reviews__elemSlider__textBlock {
    width: calc(100vw - 100px);
  }
}

@media (max-width: 520px) {
  .reviews__elemSlider__textBlock__text {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .elementSlider.reviews__elemSlider {
    flex-direction: column;
    align-items: flex-start;
  }
  .reviews__elemSlider__img {
    max-width: calc(100vw - 200px);
    width: 100%;
    align-self: center;
  }
  .reviews__elemSlider__textBlock {
    display: flex;
    flex-direction: column-reverse;
  }
  .reviews__elemSlider__textBlock__name {
    text-align: center;
    margin-bottom: 20px;
  }

}

@media (max-width: 420px) {
  .reviews__elemSlider__img {
    width: 155px;
    height: 152px;
    margin-right: 140px;
  }
}

@media (max-width: 420px) {
  .preview__textBlock {
    height: 80vh;
  }

  .preview__title {
    font-size: 24px;
    line-height: 29px;
  }
  .preview__motto {
    font-size: 16px;
    line-height: 20px;

  }
  .preview__logo {
    left: 20px;
  }
}


@media (max-width: 420px) {
  .reviews__title {
    font-size: 24px;
    line-height: 29px;
    align-self: center;
  }


}

@media (max-width: 636px) {
  .cardInstructor:not(:last-child) {
    margin-bottom: 30px;
  }

}

