* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #F0F0F0;
}

.container {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.cardInstructor {
  width: 308px;
  height: 482px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-radius: 18px;
  padding: 40px 30px 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardInstructor__img {
  width: 196px;
  height: 204px;
  border-radius: 26px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.cardInstructor__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cardInstructor__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 16px;
  border-bottom: 2px solid #CDCDCD;
}

.cardInstructor__descr {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.cardInstructor__button {
  width: 163px;
  height: 40px;
  background: #1759D6;
  border-radius: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}

.preview {
  width: 100vw;
  height: 100vh;
  background: url("../img/fon_preview.webp") no-repeat;
  background-size: cover;
}

.preview__logo {
  width: 310px;
  height: 97px;
  position: absolute;
  top: 17px;
  left: 101px;
}

.preview__textBlock {
  position: absolute;
  right: 101px;
  top: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80%;
}

.preview__number {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: inherit;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.preview__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.preview__name {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-align: end;
}

.preview__motto {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.instructors {
  margin-top: 75px;
}

.instructors__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  text-align: center;
}

.instructors__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 45px;
}

.priceList {
  margin: 75px 0;
}

.priceList__table-wrapper {
  margin-top: 43px;
  overflow-x: auto;
}

.priceList__table-wrapper::-webkit-scrollbar {
  width: 20px;
  background-color: #fff;
}

.priceList__table-wrapper::-webkit-scrollbar-thumb {
  background-color: #1759D6;
  border-radius: 10px;
}

.priceList__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  text-align: center;
}

.priceList__table {
  width: 100%;
  border-collapse: collapse;
}

.priceList__table-body .priceList__table-row:not(:last-child) {
  border-bottom: 2px solid #000;
}

.priceList__table-head .priceList__table-row {
  border-bottom: 2px solid #000;
}

.priceList__table-cell {
  font-style: normal;
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #000;
}

.priceList__table-cell__titleCol {
  font-weight: 600;
}

.priceList__table-cell__timeLesson {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

.priceList__table-cell__data {
  font-size: 16px;
}

.priceList__table-cell:nth-child(1) {
  text-align: start;
}

.priceList__table-cell:nth-child(3) {
  background-color: #1759D6;
  color: #fff;
}

.priceList__table-head .priceList__table-cell:nth-child(3) {
  border-radius: 4px 4px 0px 0px;
}

.priceList__table-body .priceList__table-row:last-child .priceList__table-cell:nth-child(3) {
  border-radius: 0px 0px 4px 4px;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 768px) {
  .priceList__table {
    width: 800px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 480px) {
  .priceList__table {
    width: 600px;
  }

@supports (-webkit-appearance:none) {

}
}