@font-face {
  src: url("../fonts/Montserrat-Regular.ttf") format("ttf"), url("../fonts/Montserrat-Regular.eot") format("eot"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Montserrat-Medium.ttf") format("ttf"), url("../fonts/Montserrat-Medium.eot") format("eot"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBold.ttf") format("ttf"), url("../fonts/Montserrat-SemiBold.eot") format("eot"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format("ttf"), url("../fonts/Montserrat-SemiBoldItalic.eot") format("eot"), url("../fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../fonts/Montserrat-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Montserrat-Light.ttf") format("ttf"), url("../fonts/Montserrat-Light.eot") format("eot"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Montserrat-Black.ttf") format("ttf"), url("../fonts/Montserrat-Black.eot") format("eot"), url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-family: Montserrat;
}

@font-face {
  src: url("../fonts/Inter-LightItalic.ttf") format("ttf"), url("../fonts/Inter-LightItalic.eot") format("eot"), url("../fonts/Inter-LightItalic.woff") format("woff"), url("../fonts/Inter-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-family: Inter;
}

@font-face {
  src: url("../fonts/Inter-Regular.ttf") format("ttf"), url("../fonts/Inter-Regular.eot") format("eot"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-family: Inter;
}

@font-face {
  src: url("../fonts/Inter-SemiBold.ttf") format("ttf"), url("../fonts/Inter-SemiBold.eot") format("eot"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-family: Inter;
}

.slider {
  position: relative;
}

.wrapperSlider {
  width: 100%;
  overflow: hidden;
}

.trackSlider {
  width: 4000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.elementSlider {
  width: 400px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
}

.navigationSlider {
  position: absolute;
}

.activeBtn {
  fill: #28B0A6;
}

.dotsSlider {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.activeDot {
  background-color: #002D7E;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #F0F0F0;
  font-family: Montserrat, sans-serif;
}

.container {
  max-width: 1238px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

button {
  cursor: pointer;
}

.popup-close {
  cursor: pointer;
}

.activePopup {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  z-index: 3;
  -webkit-animation: popup 0.5s ease-in-out forwards alternate;
  animation: popup 0.5s ease-in-out forwards alternate;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes popup {
  0% {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 100%;
  }
}

@keyframes popup {
  0% {
    display: block;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: visible;
    opacity: 100%;
  }
}

.popup-fon {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}

.cardInstructor {
  width: 308px;
  height: 482px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
  border-radius: 18px;
  padding: 40px 30px 35px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cardInstructor__img {
  width: 196px;
  height: 204px;
  border-radius: 26px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.cardInstructor__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cardInstructor__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 16px;
  border-bottom: 2px solid #CDCDCD;
}

.cardInstructor__descr {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin-top: 10px;
}

.cardInstructor__button {
  width: 163px;
  height: 40px;
  background: #1759D6;
  border-radius: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  position: relative;
  padding-right: 26px;
}

.cardInstructor__button:after {
  content: url("../img/arrowBtnInstructor.svg");
  position: absolute;
  top: 53%;
  right: 28px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cardInstructor:not(:last-child) {
  margin-right: 100px;
}

.tabs {
  max-width: 733px;
  width: 100%;
  height: auto;
}

.tabs__list {
  height: 100%;
}

.tabs__item {
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 32px;
  height: auto;
  max-height: 72px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  overflow: hidden;
  border-bottom: 2px solid #ECECF1;
}

.tabs__item__name {
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #2E2E2E;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 20px;
}

.tabs__item__text {
  padding-bottom: 28px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #434451;
}

.tabs__item:last-child {
  margin-bottom: 0;
}

.tabs__item__cross {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tabs__item.activeTab {
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  height: auto;
  max-height: 500px;
}

.tabs__item__cross.activeCross {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.popupCard {
  width: 600px;
  height: 943px;
  background: #FFFFFF;
  border-radius: 32px;
  display: none;
}

.popupCard__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 40px 40px 40px 40px;
}

.popupCard__img {
  width: 478px;
  height: 405px;
  border-radius: 16px;
  overflow: hidden;
}

.popupCard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.popupCard__img .popupCard__img--3 {
  height: 130%;
}

.popupCard__name {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
  padding-bottom: 26px;
  border-bottom: 2px solid #CDCDCD;
}

.popupCard__text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 26px;
}

.popupCard__button {
  max-width: 354px;
  width: 100%;
  height: 65px;
  background: #1759D4;
  border-radius: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
  cursor: pointer;
}

.popupCard__button a {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
}

.popupCard__close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.popupCard.activePopup {
  display: block;
}

.popupForm {
  width: 404px;
  height: 559px;
  background: #fff;
  border-radius: 32px;
  padding: 52px 40px 52px 40px;
  display: none;
}

.popupForm__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popupForm__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #2E2E2E;
  margin-bottom: 40px;
  text-align: center;
}

.popupForm__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popupForm__form__item {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.popupForm__form__text {
  resize: none;
  height: 107px;
}

.popupForm__form__text,
.popupForm__form__email,
.popupForm__form__name {
  outline: none;
  border-radius: 16px;
  border: 1.5px solid #ABA8A8;
  padding: 17px 0 18px 17px;
}

.popupForm__form__label {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
  margin-bottom: 8px;
}

.popupForm__form__name::-webkit-input-placeholder,
.popupForm__form__email::-webkit-input-placeholder,
.popupForm__form__text::-webkit-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
}

.popupForm__form__name::-moz-placeholder,
.popupForm__form__email::-moz-placeholder,
.popupForm__form__text::-moz-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
}

.popupForm__form__name:-ms-input-placeholder,
.popupForm__form__email:-ms-input-placeholder,
.popupForm__form__text:-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
}

.popupForm__form__name::-ms-input-placeholder,
.popupForm__form__email::-ms-input-placeholder,
.popupForm__form__text::-ms-input-placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
}

.popupForm__form__name::placeholder,
.popupForm__form__email::placeholder,
.popupForm__form__text::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
  color: #ABA8A8;
}

.popupForm__button {
  width: 148px;
  height: 48px;
  background: #1759D4;
  border-radius: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  border: 0;
}

.popupForm__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popupForm__afterSendForm {
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 24px;
}

.popupForm__afterSendForm__text {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #2E2E2E;
}

.popupForm.activePopup {
  display: block;
}

.footer {
  background-color: #1759D4;
  min-width: 100vw;
  height: auto;
}

.footer__wrapper {
  width: 100%;
  height: 100%;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  list-style: none;
  border-bottom: 2px solid #EEEEEE;
  padding-bottom: 25px;
}

.footer__nav-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  list-style: none;
  padding-top: 25px;
}

.footer__contacts-item {
  margin-right: 20px;
}

.footer__contacts-item:last-child {
  margin-right: 0;
}

.footer__contacts-link {
  text-decoration: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.footer__contacts-number {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  text-decoration: none;
  color: #FFFFFF;
}

.header {
  position: absolute;
  top: 20px;
  right: 20px;
}

.header__menu {
  display: none;
}

.header__menu.activeBurger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #F3F3F3;
  z-index: 2;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__menu.activeBurger {
  overflow: hidden;
}

.header__logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 187px;
  height: 60px;
}

.header__menu__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 168px;
  height: 263px;
}

.header__menu__item {
  margin-bottom: 24px;
}

.header__menu__item:last-child {
  margin-bottom: 0;
}

.header__menu__link {
  text-decoration: none;
  color: #315BA7;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.burger__icon {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 50%;
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
}

.burger__lines {
  width: 18px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.burger__lines__line {
  width: 18px;
  height: 2px;
  background: #303030;
  position: relative;
}

.burger__icon.activeBurger .burger__lines__line:nth-child(2) {
  display: none;
}

.burger__icon.activeBurger .burger__lines__line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.burger__icon.activeBurger .burger__lines__line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

body.blockScroll {
  overflow: hidden;
}

.animText {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
}

.animText:hover {
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  transform: translateY(-4px);
}

.preview {
  width: 100vw;
  height: 100vh;
  background: url("../img/fon_preview.webp") no-repeat;
  background-size: cover;
}

.preview__logo {
  width: 310px;
  height: 97px;
  position: absolute;
  top: 17px;
  left: 101px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview__textBlock {
  position: absolute;
  right: 101px;
  top: 80px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 80%;
}

.preview__number {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  color: inherit;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  outline: none;
}

.preview__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
}

.preview__name {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-align: end;
}

.preview__motto {
  font-style: italic;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

.instructors {
  margin-top: 75px;
}

.instructors__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  text-align: center;
}

.instructors__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  row-gap: 10px;
  margin-top: 45px;
}

.priceList {
  margin: 75px 0;
  font-family: Inter, sans-serif;
}

.priceList__table-wrapper {
  margin-top: 43px;
  overflow-x: auto;
}

.priceList__table-wrapper::-webkit-scrollbar {
  width: 20px;
  background-color: #fff;
}

.priceList__table-wrapper::-webkit-scrollbar-thumb {
  background-color: #1759D6;
  border-radius: 10px;
}

.priceList__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  color: #000;
  text-align: center;
}

.priceList__table {
  width: 100%;
  border-collapse: collapse;
}

.priceList__table-body .priceList__table-row:not(:last-child) {
  border-bottom: 2px solid #000;
}

.priceList__table-head .priceList__table-row {
  border-bottom: 2px solid #000;
}

.priceList__table-cell {
  font-style: normal;
  padding: 20px 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.16px;
  color: #000;
}

.priceList__table-cell__titleCol {
  font-weight: 600;
}

.priceList__table-cell__timeLesson {
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
}

.priceList__table-cell__data {
  font-size: 16px;
}

.priceList__table-cell:nth-child(1) {
  text-align: start;
}

.priceList__table-cell:nth-child(2) {
  background-color: #1759D6;
  color: #fff;
}

.priceList__table-head .priceList__table-cell:nth-child(2) {
  border-radius: 4px 4px 0px 0px;
}

.priceList__table-body .priceList__table-row:last-child .priceList__table-cell:nth-child(2) {
  border-radius: 0px 0px 4px 4px;
}

.reviews {
  margin: 75px 0;
  color: #fff;
}

.reviews__title {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 125%;
  margin-bottom: 30px;
}

.reviews__elemSlider__img {
  width: 185px;
  height: 290px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-right: 34px;
}

.reviews__elemSlider__textBlock__text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 145%;
}

.reviews__elemSlider__textBlock__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  margin-top: 20px;
}

.slider.reviews__slider {
  width: 100%;
  height: auto;
  background-color: #1759D6;
  border-radius: 32px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 40px 40px 76px 40px;
}

.wrapperSlider.reviews__wrapperSlider {
  width: inherit;
  max-width: 1138px;
}

.elementSlider.reviews__elemSlider {
  min-width: 1138px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #1759D6;
}

.QandA {
  margin: 75px 0;
}

.QandA__wrapper {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border-radius: 32px;
  padding: 48px 40px;
}

.QandA__title {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #303030;
}

.QandA__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.QandA__popularQuestions {
  margin-right: 50px;
}

.QandA__popularQuestions__title {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: -0.015em;
  color: #2E2E2E;
}

.QandA__popularQuestions__text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.015em;
  color: #434451;
  margin: 4px 0 24px 0;
}

.QandA__popularQuestions__button {
  width: 180px;
  height: 48px;
  background: #1759D4;
  border-radius: 16px;
  padding: 8px 29px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
  border: none;
}

@supports (-webkit-appearance:none) {

}

@media (max-width: 1238px) {
  .elementSlider.reviews__elemSlider {
    min-width: calc(100vw - 100px);
  }

  .reviews__elemSlider__textBlock {
    width: calc(100vw - 100px);
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1020px) {
  .cardInstructor:not(:last-child) {
    margin-right: 30px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 860px) {
  .instructors__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  .preview {
    background: url("../img/fonImg.webp") no-repeat bottom;
    background-size: cover;
  }

  .priceList__table {
    width: 800px;
  }

  .priceList__table-cell:nth-child(3),
  .priceList__table-cell:nth-child(4) {
    display: none;
  }

  .priceList__table-wrapper {
    overflow-x: hidden;
  }

  .priceList__table {
    width: 100%;
  }

  .priceList__table-cell:nth-child(3) {
    padding: 20px 30px;
    font-size: 20px;
  }

  .QandA__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .QandA__title {
    margin-bottom: 32px;
    text-align: center;
  }

  .QandA__popularQuestions__text {
    margin: 32px 0;
  }

  .QandA__popularQuestions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .elementSlider.reviews__elemSlider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .reviews__elemSlider__img {
    max-width: calc(100vw - 200px);
    width: 100%;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .reviews__elemSlider__textBlock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .reviews__elemSlider__textBlock__name {
    text-align: center;
    margin-bottom: 20px;
  }

  .preview__textBlock {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    position: static;
    top: 0;
    right: 0;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 0 20px;
  }

  .preview__name {
    text-align: center;
    font-size: 30px;
    line-height: 29px;
  }

  .preview__title {
    font-size: 30px;
    line-height: 29px;
  }

  .preview__motto {
    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  .preview__number {
    display: none;
  }

  .preview__titleBlock {
    margin-bottom: 30px;
  }

  .preview__logo {
    left: 14px;
  }

  .preview__textBlock {
    height: 86vh;
  }

  .burger__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 660px) {
  .cardInstructor:not(:last-child) {
    margin-right: 0;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 620px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 520px) {
  .reviews__elemSlider__textBlock__text {
    font-size: 15px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 420px) {
  .reviews__elemSlider__img {
    width: 155px;
    height: 152px;
    margin-right: 140px;
  }

  .preview__textBlock {
    height: 90vh;
  }

  .preview__name {
    text-align: center;
    font-size: 24px;
    line-height: 29px;
  }

  .preview__title {
    font-size: 24px;
    line-height: 29px;
  }

  .preview__motto {
    font-size: 16px;
    line-height: 20px;
    text-align: end;
  }

  .preview__logo {
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    left: -30px;
  }

  .reviews__title {
    font-size: 24px;
    line-height: 29px;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .popupForm {
    padding: 30px 20px;
    width: 340px;
    height: 485px;
    border-radius: 20px;
  }

  .popupForm__form__label {
    font-size: 12px;
  }

  .popupForm__form__name::-webkit-input-placeholder,
  .popupForm__form__email::-webkit-input-placeholder,
  .popupForm__form__text::-webkit-input-placeholder {
    font-size: 12px;
  }

  .popupForm__form__name::-moz-placeholder,
  .popupForm__form__email::-moz-placeholder,
  .popupForm__form__text::-moz-placeholder {
    font-size: 12px;
  }

  .popupForm__form__name:-ms-input-placeholder,
  .popupForm__form__email:-ms-input-placeholder,
  .popupForm__form__text:-ms-input-placeholder {
    font-size: 12px;
  }

  .popupForm__form__name::-ms-input-placeholder,
  .popupForm__form__email::-ms-input-placeholder,
  .popupForm__form__text::-ms-input-placeholder {
    font-size: 12px;
  }

  .popupForm__form__name::placeholder,
  .popupForm__form__email::placeholder,
  .popupForm__form__text::placeholder {
    font-size: 12px;
  }

  .popupForm__button {
    -ms-flex-item-align: center;
    align-self: center;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 375px) {
  .priceList__table-cell {
    font-size: 15px;
  }

  .priceList__table-cell__timeLesson {
    font-size: 13px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 320px) {
  .tabs__item__name {
    font-size: 18px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-height: 1000px) {
  .popup.popupCard {
    width: 400px;
    height: auto;
  }

  .popupCard__img {
    width: 320px;
    height: 270px;
  }

  .popupCard__name {
    font-size: 22px;
    line-height: 29px;
  }

  .popupCard__text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .popupCard__close {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    top: 10px;
    right: 10px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-height: 768px) {
  .popup.popupCard {
    width: 308px;
    height: auto;
  }

  .popupCard__wrapper {
    padding: 28px 37px 28px 37px;
  }

  .popupCard__img {
    width: 148px;
    height: 119px;
    border-radius: 26px;
  }

  .popupCard__name {
    font-size: 20px;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 20px;
  }

  .popupCard__text {
    line-height: 22px;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .popupCard__button {
    height: 31px;
  }

  .popupCard__button a {
    font-size: 13px;
  }

  .popupCard__close {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    top: 8px;
    right: 8px;
  }

@supports (-webkit-appearance:none) {

}
}