mixin popupCard(inst, num)
    .popup.popupCard(id=inst.name)
        .popupCard__wrapper
            .popupCard__img
                img(src=inst.img, class='popupCard__img--' + num)
            .popupCard__textBlock
                h3.popupCard__name=inst.name
                p.popupCard__text=inst.descr
            button.popupCard__button Записаться
        img.popup-close.popupCard__close(src='img/close.svg')