footer.footer
    .container
        .footer__wrapper
            ul.footer__nav
                li.footer__nav-item.animText
                    a(href="#instructors").footer__nav-link
                        | Инструкторы
                li.footer__nav-item.animText
                    a(href="#priceList").footer__nav-link
                        | Цены на услуги
                li.footer__nav-item.animText
                    a(href="#reviews").footer__nav-link
                        | Отзывы
                li.footer__nav-item.animText
                    a(href="#QandA").footer__nav-link
                        | Популярные вопросы
            .footer__contacts
                .footer__contacts-item.animText
                    a(href='https://wa.me/79622300530' target="_blank").footer__contacts-number
                        | +7(962) 230-05-30
                .footer__contacts-item.animText
                    a(href="https://instagram.com/ski_bird_777?igshid=YmMyMTA2M2Y=").footer__contacts-link
                        | Instagram