footer.footer
    .container
        .footer__wrapper
            ul.footer__nav
                li.footer__nav-item.animText
                    a(href="#instructors").footer__nav-link
                        | Инструкторы
                li.footer__nav-item.animText
                    a(href="#priceList").footer__nav-link
                        | Цены на услуги
                li.footer__nav-item.animText
                    a(href="#reviews").footer__nav-link
                        | Отзывы
                li.footer__nav-item.animText
                    a(href="#QandA").footer__nav-link
                        | Популярные вопросы
            .footer__contacts
                .footer__contacts-item.animText
                    a(href='https://wa.me/74951234567' target="_blank").footer__contacts-number
                        | +7(495) 123-45-67
                .footer__contacts-item.animText
                    a(href="#").footer__contacts-link
                        | Instagram