extends ../layout/layout
block page
    include ../chunk/header/header
    section.preview
        img.logo.preview__logo(src='img/logo.png')
        .preview__textBlock
            a.preview__number.animText(href='https://wa.me/79999999999' target="_blank") +7 (999) 999-99-99
            .preview__titleBlock
                h1.preview__title Горнолыжный курорт
                h1.preview__name «Skibird»
            p.preview__motto “Безопасность и надежность - наше кредо”
    section.instructors.wow.animate__fadeInUp(id="instructors" data-wow-duration="2s")
        .container
            h1.instructors__title Наши инструкторы
            .instructors__wrapper
                include ../components/cardInstructor/cardInstructor
                +cardInstructor('img/Ludmila.png', 'Людмила', 'Инструктор по горным лыжам категории С')
                +cardInstructor('img/Michail.png', 'Михаил', 'NLI ISIA по горным лыжам \n15 лет опыта')
                +cardInstructor('img/Gennadiy.png', 'Геннадий', 'Обучение на русском и английском языках')

    -
        var instDescr = [
            {
                img: 'img/Ludmila.png',
                name: 'Людмила',
                descr: 'Инструктор по горным лыжам категории С. Большой опыт работы на горнолыжных курортах центрального Черноземья и Красной Поляны.\n' +
                        'Обучении начального уровня.\n' +
                        'Большой опыт работы с детьми . \n' +
                        'В приоритете безопасность в процессе обучения. Коммуникабельность.\n' +
                        'Индивидуальные и групповые занятия .'
            },
            {
                img: 'img/Michail.png',
                name: 'Михаил',
                descr: '《C》NLI ISIA ISIA по горным лыжам.\n' +
                        'Опыт катания на горных лыжах более 15 лет.\n' +
                        'Обучаю детей от 3-х лет и взрослых правильной и безопасной технике катания более 5 лет на курортах Красной Поляны.\n' +
                        'Freeride для начинающих и продвинутых. Научу контролировать скорость на крутых склонах.'
            },
            {
                img: 'img/Gennadiy.png',
                name: 'Геннадий',
                descr: 'Обучение на русском и английском языках. В моей практике были ученики от 2, 5 лет до 70, никто не уехал с горы не сделав самостоятельный спуск,по желанию ученика делаем видео разбор прокатов, добиваемся отличного результата при минимальной затрате сил и времени.\n' +
                        '10 лет работы в школе Кант. '
            }
        ]
    include ../components/popupCard/popupCard
    +popupCard(instDescr[0], 1)
    +popupCard(instDescr[1], 2)
    +popupCard(instDescr[2], 3)


    section.priceList.wow.animate__fadeInUp(id="priceList" data-wow-duration="2s")
        .container
            h1.priceList__title Услуги и цены
            .priceList__table-wrapper
                table.priceList__table
                    thead.priceList__table-head
                        tr.priceList__table-row
                            th.priceList__table-cell
                            th.priceList__table-cell
                                span.priceList__table-cell__titleCol Старт
                                span.priceList__table-cell__data
                                    br
                                    | 01.10 - 23.12
                                    br
                                    | 01.04 - 31.05
                            th.priceList__table-cell
                                span.priceList__table-cell__titleCol Высокий
                                span.priceList__table-cell__data
                                    br
                                    | 9.01 - 31.03
                                    br
                                    | 13.03 - 31.03
                            th.priceList__table-cell
                                span.priceList__table-cell__titleCol Пик
                                span.priceList__table-cell__data
                                    br
                                    | 24.12 - 08.01
                                    br
                                    | 01.02 - 12.03
                    tbody.priceList__table-body
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Индивидуальное занятие
                                br
                                span.priceList__table-cell__timeLesson 1 человек 2часа
                            td.priceList__table-cell
                                | 6000
                            td.priceList__table-cell
                                | 6800
                            td.priceList__table-cell
                                | 7800
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Парное занятие
                                br
                                span.priceList__table-cell__timeLesson 2 человека 2часа
                            td.priceList__table-cell
                                | 8200
                            td.priceList__table-cell
                                | 9100
                            td.priceList__table-cell
                                | 10900
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Групповое занятие
                                br
                                span.priceList__table-cell__timeLesson от 4-х человек 2часа
                            td.priceList__table-cell
                                | 2700
                            td.priceList__table-cell
                                | 2800
                            td.priceList__table-cell
                                | 3000
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Мини группа
                                br
                                span.priceList__table-cell__timeLesson 3 человека 2часа
                            td.priceList__table-cell
                                | 10500
                            td.priceList__table-cell
                                | 11600
                            td.priceList__table-cell
                                | 13900
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Личный гид
                                br
                                span.priceList__table-cell__timeLesson 1-2 человека 6часов
                            td.priceList__table-cell
                                | 22200
                            td.priceList__table-cell
                                | 25400
                            td.priceList__table-cell
                                | 29400
                        tr.priceList__table-row
                            td.priceList__table-cell
                                | Индивидуальное детское занятие
                                br
                                span.priceList__table-cell__timeLesson 1 ребенок 1час
                            td.priceList__table-cell
                                | 3300
                            td.priceList__table-cell
                                | 3800
                            td.priceList__table-cell
                                | 4400
    section.reviews.wow.animate__fadeInUp(id="reviews" data-wow-duration="2s")
        .container
            .slider.reviews__slider
                h1.reviews__title Отзывы клиентов
                .wrapperSlider.reviews__wrapperSlider
                    .trackSlider
                        .elementSlider.reviews__elemSlider
                            img.reviews__elemSlider__img(src="img/slider_img1.webp")
                            .reviews__elemSlider__textBlock
                                p.reviews__elemSlider__textBlock__text
                                    | Всего два дня как мы вернулись с красная Поляна, но уже очень хочется обратно!
                                    | И все благодаря не только горам, но и замечательным инструкторам, которые сделали занятия не только очень продуктивными, но ещё и творческими, интересными, порой смешными!
                                    | Я пытаюсь научиться кататься уже не первый год, но видимо, в силу возраста, страха, неспортивности, отсутствию любого спортивного снаряжения в детстве, учиться мне очень сложно.
                                    br
                                    br
                                    | Геннадия особенный подход, очень индивидуальный, креативный, куча различных упражнений, ассоциаций в запасе. Не понятно так, объясню иначе, покажу по другому, и все равно станет понятно!
                                h3.reviews__elemSlider__textBlock__name
                                    | Ксения Петрова
                        .elementSlider.reviews__elemSlider
                            img.reviews__elemSlider__img(src="img/slider_img1.webp")
                            .reviews__elemSlider__textBlock
                                p.reviews__elemSlider__textBlock__text
                                    | Всего два дня как мы вернулись с красная Поляна, но уже очень хочется обратно!
                                    | И все благодаря не только горам, но и замечательным инструкторам, которые сделали занятия не только очень продуктивными, но ещё и творческими, интересными, порой смешными!
                                    | Я пытаюсь научиться кататься уже не первый год, но видимо, в силу возраста, страха, неспортивности, отсутствию любого спортивного снаряжения в детстве, учиться мне очень сложно.
                                    br
                                    br
                                    | Геннадия особенный подход, очень индивидуальный, креативный, куча различных упражнений, ассоциаций в запасе. Не понятно так, объясню иначе, покажу по другому, и все равно станет понятно!
                                h3.reviews__elemSlider__textBlock__name
                                    | Ксения Петрова
                        .elementSlider.reviews__elemSlider
                            img.reviews__elemSlider__img(src="img/slider_img1.webp")
                            .reviews__elemSlider__textBlock
                                p.reviews__elemSlider__textBlock__text
                                    | Всего два дня как мы вернулись с красная Поляна, но уже очень хочется обратно!
                                    | И все благодаря не только горам, но и замечательным инструкторам, которые сделали занятия не только очень продуктивными, но ещё и творческими, интересными, порой смешными!
                                    | Я пытаюсь научиться кататься уже не первый год, но видимо, в силу возраста, страха, неспортивности, отсутствию любого спортивного снаряжения в детстве, учиться мне очень сложно.
                                    br
                                    br
                                    | Геннадия особенный подход, очень индивидуальный, креативный, куча различных упражнений, ассоциаций в запасе. Не понятно так, объясню иначе, покажу по другому, и все равно станет понятно!
                                h3.reviews__elemSlider__textBlock__name
                                    | Ксения Петрова
                        .elementSlider.reviews__elemSlider
                            img.reviews__elemSlider__img(src="img/slider_img1.webp")
                            .reviews__elemSlider__textBlock
                                p.reviews__elemSlider__textBlock__text
                                    | Всего два дня как мы вернулись с красная Поляна, но уже очень хочется обратно!
                                    | И все благодаря не только горам, но и замечательным инструкторам, которые сделали занятия не только очень продуктивными, но ещё и творческими, интересными, порой смешными!
                                    | Я пытаюсь научиться кататься уже не первый год, но видимо, в силу возраста, страха, неспортивности, отсутствию любого спортивного снаряжения в детстве, учиться мне очень сложно.
                                    br
                                    br
                                    | Геннадия особенный подход, очень индивидуальный, креативный, куча различных упражнений, ассоциаций в запасе. Не понятно так, объясню иначе, покажу по другому, и все равно станет понятно!
                                h3.reviews__elemSlider__textBlock__name
                                    | Ксения Петрова
                        .elementSlider.reviews__elemSlider
                            img.reviews__elemSlider__img(src="img/slider_img1.webp")
                            .reviews__elemSlider__textBlock
                                p.reviews__elemSlider__textBlock__text
                                    | Всего два дня как мы вернулись с красная Поляна, но уже очень хочется обратно!
                                    | И все благодаря не только горам, но и замечательным инструкторам, которые сделали занятия не только очень продуктивными, но ещё и творческими, интересными, порой смешными!
                                    | Я пытаюсь научиться кататься уже не первый год, но видимо, в силу возраста, страха, неспортивности, отсутствию любого спортивного снаряжения в детстве, учиться мне очень сложно.
                                    br
                                    br
                                    | Геннадия особенный подход, очень индивидуальный, креативный, куча различных упражнений, ассоциаций в запасе. Не понятно так, объясню иначе, покажу по другому, и все равно станет понятно!
                                h3.reviews__elemSlider__textBlock__name
                                    | Ксения Петрова
                .dotsSlider
    section.QandA.wow.animate__fadeInUp(id="QandA" data-wow-duration="2s")
        .container
            .QandA__wrapper
                h1.QandA__title
                    | Популярные вопросы
                .QandA__content
                    .QandA__popularQuestions
                        p.QandA__popularQuestions__text
                            | Не нашли ответа на свой вопрос?
                        button.QandA__popularQuestions__button(id='form_popup')
                            | Задать вопрос
                    .QandA__tabs
                            -
                                var tabs = [
                                    {
                                        name: 'Физическая подготовка — какая необходима?',
                                        text: 'Часто сложностью при обучении становятся физические возможности. Если имеется сложность выдержать 2-3 часа занятий, это весьма тормозит процесс. Но не является препятствием. '
                                    },
                                    {
                                        name: 'Сколько времени необходимо, чтобы научиться?',
                                        text: 'Часто сложностью при обучении становятся физические возможности. Если имеется сложность выдержать 2-3 часа занятий, это весьма тормозит процесс. Но не является препятствием. '
                                    },
                                    {
                                        name: 'Разве можно ехать в горы совсем не умея кататься?',
                                        text: 'Не только можно, но нужно — научитесь гораздо быстрее. В горах склоны свободнее и другие катающиеся создают меньше помех. Склоны имеют больший размер, не приходится отвлекаться на их пределы.'
                                    },
                                    {
                                        name: 'Реально ли исправить технику / ошибки?',
                                        text: 'Часто сложностью при обучении становятся физические возможности. Если имеется сложность выдержать 2-3 часа занятий, это весьма тормозит процесс. Но не является препятствием.'
                                    }

                                ]
                            include ../components/tabs/tabs
                            +tabs(tabs)


    include ../components/popupForm/popupForm
    +popupForm('form_popup')
    .popup-fon
    include ../chunk/footer/footer