doctype html
html
    head(lang='ru')
        title Skibird
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1')
        link(href="css/mainPage.min.css" rel="stylesheet")
        link(rel="shortcut icon" href="img/logo2.png" type="image/x-icon")
        link(rel="stylesheet" href="css/style.min.css")
    body
        block page
    script(defer src='js/main.min.js')