header.header
    .burger
        .burger__icon
            .burger__lines
                .burger__lines__line
                .burger__lines__line
                .burger__lines__line
        .header__menu
            img.header__logo(src='img/logo.svg')
            ul.header__menu__list
                 li.header__menu__item
                    a.header__menu__link(href='#instructors') Инструкторы
                 li.header__menu__item
                    a.header__menu__link(href='#priceList') Цены
                 li.header__menu__item
                    a.header__menu__link(href='#reviews') Отзывы
                 li.header__menu__item
                    a.header__menu__link(href='#QandA') Вопросы