mixin cardInstructor(img, name, descr)
    .cardInstructor
        .cardInstructor__img
            img(src=img)
        .cardInstructor__textBlock
            h3.cardInstructor__name #{name}
            p.cardInstructor__descr #{descr}
        button.cardInstructor__button(id=name) Записаться